/* @media all and (min-width: 1024px) and (max-width: 1280px) { } 
 @media all and (min-width: 768px) and (max-width: 1024px) { } 
 @media all and (min-width: 370px) and (max-width: 768px) { }  
 @media all and (max-width: 370px) { } */

#name {
	color: #e06d35;
	font-family: 'Roboto Serif', serif;
	font-size: 1.5em;
	font-weight: bolder;
	padding-top: 1rem;
}

.about-me {
	padding-top: 10rem;
	padding-bottom: 18rem;
	padding-right: 15rem;
}
h2 {
	color: rgb(73, 90, 109);
	font-size: 6em;
	font-weight: bold;
	padding-top: 8rem;
}
#about-me-par {
	color: rgb(73, 90, 109);
	font-size: 20px;
}

h3 {
	padding-left: 1.5rem;
	font-size: 3em;
	font-weight: bold;
}
p,
h3,
h4,
h5 {
	color: rgb(73, 90, 109);
}
.projects {
	background: rgb(230, 224, 212);
}
.col-sm {
	margin: 1rem;
}
.card {
	padding: 1rem;
	border-radius: 8%;
}

@media all and (min-width: 390px) and (max-width: 768px) {
	#name {
		font-size: 20px;
	}
	.about-me {
		padding-top: 2rem;
		padding-bottom: 5rem;
	}
	h2 {
		font-size: 3rem;
	}
	#about-me-par {
		padding-top: 2rem;
		padding-right: 1rem;
	}
}

@media all and (max-width: 390px) {
	#name {
		font-size: 20px;
	}
	.about-me {
		padding-top: 3rem;
		padding-right: 0.5rem;
		padding-bottom: 5rem;
	}
	h2 {
		font-size: 3rem;
	}
	#about-me-par {
		padding-right: 1rem;
		padding-top: 2rem;
	}
}
